:root{
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    
    max-width: 100rem;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.search {
    display: flex;
    justify-content: flex-end;
    width: 50rem;
}

.input-field{
    max-width: 30rem;
    width: 100%;
    height: 38px;
    border-right: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    outline: none;
    padding-left: 2rem;
}

button {
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.searchButton {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.all-object-db {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    width: 100%;
}

.object-db {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem 1rem 2rem;
}

.name-object {
    font-size: 2rem;
}